<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.RoleMapper">
    <select id="findAll" resultType="Role">
        SELECT * from t_role
    </select>

    <insert id="addUserAndRole">
        INSERT INTO t_user_role(user_id,role_id) VALUES (#{userId},#{roleId})
    </insert>

    <delete id="delRoleByUserId" parameterType="int">
        DELETE from t_user_role WHERE user_id = #{userId}
    </delete>

    <select id="findRoleById" parameterType="int" resultType="Role">
        SELECT * from t_role WHERE id= #{roleId}
    </select>
    <select id="findByUserId" resultType="com.kaishengit.pojo.Role">
        SELECT * from t_role
        LEFT JOIN t_user_role tur on tur.role_id = t_role.id
        WHERE tur.user_id = #{userId}
    </select>
</mapper>